{% load activelink %}

{% load bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Cashout</title>

        <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.png">

        <link href="{{ STATIC_URL }}vendor/nprogress/nprogress.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}vendor/bootstrap-flat/css/bootstrap-flat.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}vendor/ladda-bootstrap/dist/ladda-themeless.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}vendor/selectize/dist/css/selectize.bootstrap3.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}vendor/bootstrap3-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}vendor/font-awesome/css/font-awesome.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}stylesheets/main.css" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <input type="hidden" value="{{ csrf_token }}" id="csrf_token">

        <div class="container">
            <div class="header clearfix">
                <a href="{% url "core.index" %}" id="logo">
                    <span class="fa fa-barcode"></span>
                    <h3 class="text-muted">Cashout</h3>
                </a>
                <ul class="nav nav-pills">
                    <li {% ifactive "core.index" %}class="active"{% endifactive %}><a href="{% url "core.index" %}">Index</a></li>
                    <li {% ifstartswith "/payments/" %}class="active"{% endifstartswith %}><a href="{% url "core.payment_list" %}">Payments</a></li>
                    {% if settings.DEBUG %}
                        <li {% ifstartswith "/categories/" %}class="active"{% endifstartswith %}><a href="{% url "core.category_list" %}">Categories</a></li>
                    {% endif %}
                    <li {% ifstartswith "/charts/" %}class="active"{% endifstartswith %} class="dropdown">
                        <a href="#" data-toggle="dropdown">Charts</a>
                        <ul class="dropdown-menu">
                            <li {% ifactive "core.burndown_chart" %}class="active"{% endifactive %}><a href="{% url "core.burndown_chart" %}">Burndown</a></li>
                            <li {% ifactive "core.frequency_chart" %}class="active"{% endifactive %}><a href="{% url "core.frequency_chart" %}">Frequency</a></li>
                            <li {% ifactive "core.expenses_chart" %}class="active"{% endifactive %}><a href="{% url "core.expenses_chart" %}">Expenses</a></li>
                        </ul>
                    </li>
                    <li {% ifactive "core.balance_reset" %}class="active"{% endifactive %}><a href="{% url "core.balance_reset" %}">Reset</a></li>
                </ul>
            </div>

            {% for message in messages %}
                <div class="alert alert-{{ message.tags|bootstrap_messages }}">
                    <button class="close">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}

            {% block content %}{% endblock %}

            <div class="footer">
                <p>&copy; Raitis (daGrevis) Stengrevics</p>
            </div>
        </div>

        <script src="{{ STATIC_URL }}vendor/jquery/jquery.js"></script>
        <script src="{{ STATIC_URL }}vendor/bootstrap/dist/js/bootstrap.js"></script>
        <script src="{{ STATIC_URL }}vendor/nprogress/nprogress.js"></script>
        <script src="{{ STATIC_URL }}vendor/ladda-bootstrap/dist/spin.js"></script>
        <script src="{{ STATIC_URL }}vendor/ladda-bootstrap/dist/ladda.js"></script>
        <script src="{{ STATIC_URL }}vendor/selectize/dist/js/standalone/selectize.js"></script>
        <script src="{{ STATIC_URL }}vendor/moment/moment.js"></script>
        <script src="{{ STATIC_URL }}vendor/bootstrap3-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>
        <script src="{{ STATIC_URL }}vendor/bootbox/bootbox.js"></script>
        <script src="{{ STATIC_URL }}scripts/main.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
