{% load activelink %}

{% load bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Cashout</title>

        <link href="{{ STATIC_URL }}vendor/nprogress/nprogress.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}vendor/bootstrap-flat/css/bootstrap-flat.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}vendor/ladda-bootstrap/dist/ladda-themeless.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}vendor/select2/select2.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}stylesheets/main.css" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li {% ifactive "core.index" %}class="active"{% endifactive %}><a href="{% url "core.index" %}">Index</a></li>
                    <li {% ifstartswith "/payments/" %}class="active"{% endifstartswith %}><a href="{% url "core.payment_list" %}">Payments</a></li>
                    <li {% ifstartswith "/graphs/" %}class="active"{% endifstartswith %} class="dropdown">
                        <a href="#" data-toggle="dropdown">Graphs</a>
                        <ul class="dropdown-menu">
                            <li {% ifactive "core.burndown_graph" %}class="active"{% endifactive %}><a href="{% url "core.burndown_graph" %}">Burndown</a></li>
                        </ul>
                    </li>
                </ul>
                <h3 class="text-muted"><a href="{% url "core.index" %}">Cashout</a></h3>
            </div>

            {% for message in messages %}
                <div class="alert alert-{{ message.tags|bootstrap_messages }}">
                    {{ message }}
                </div>
            {% endfor %}

            {% block content %}{% endblock %}

            <div class="footer">
                <p>&copy; Raitis (daGrevis) Stengrevics</p>
            </div>
        </div>

        <script src="{{ STATIC_URL }}vendor/jquery/jquery.js"></script>
        <script src="{{ STATIC_URL }}vendor/bootstrap/dist/js/bootstrap.js"></script>
        <script src="{{ STATIC_URL }}vendor/nprogress/nprogress.js"></script>
        <script src="{{ STATIC_URL }}vendor/ladda-bootstrap/dist/spin.js"></script>
        <script src="{{ STATIC_URL }}vendor/ladda-bootstrap/dist/ladda.js"></script>
        <script src="{{ STATIC_URL }}vendor/select2/select2.js"></script>
        <script src="{{ STATIC_URL }}vendor/bootbox/bootbox.js"></script>
        <script src="{{ STATIC_URL }}scripts/main.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
