{% extends "base.html" %}

{% load bootstrap %}

{% block content %}

    <div class="well">
        <form>
            {{ payment_filter.form|bootstrap }}
            <button class="btn btn-primary ladda-button" data-style="expand-right">Filter them</button>
        </form>
    </div>

    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Price ({{ settings.DEFAULT_CURRENCY }})</th>
            {% if settings.SECONDARY_CURRENCY %}
                <th>Price ({{ settings.SECONDARY_CURRENCY }})</th>
            {% endif %}
        </tr>
        {% for payment in payments %}
            <tr class="clickable_row">
                <td><a href="{% url "core.payment_item" payment.pk %}">{{ payment.title }}</a></td>
                <td>
                    <span class="{% if payment.is_income %}text-success{% elif payment.is_expense %}text-danger{% endif %}">{{ payment.price }}</span>
                </td>
                {% if settings.SECONDARY_CURRENCY %}
                    <td class="price_in_secondary_currency">{{ payment.get_price_in_secondary_currency }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    {% include "blocks/pagination.html" with objects=payments paginator=payment_paginator%}

{% endblock %}
