/bin/
/include/
/lib/
/share/
*.py[co]
*.sqlite3
**/.sass-cache/
**/static/vendor/
**/static/scripts/*.js
**/static/stylesheets/*.css
/cashout/cashout/dev_settings.py
/cashout/cashout/prod_settings.py
