/bin/
/cashout/cashout/dev_settings.py
/cashout/cashout/prod_settings.py
/cashout/dropbox_tokens
/include/
/lib/
/man/
*.py[co]
**/.sass-cache/
/share/
*.sqlite3
**/static/scripts/*.js
**/static/stylesheets/*.css
**/static/vendor/
