@mixin not_link($color)
  color: $color
  &:hover, &:active
    text-decoration: none
    color: $color

#nprogress .bar
  background: #777

body
  margin: 20px 0

.header
  border-bottom: 1px solid #e5e5e5
  padding-bottom: 48px
  h3
    margin: 0
    padding-bottom: 10px
    line-height: 40px
    a
      color: #777
      text-decoration: none

#logo
  @include not_link(#333)
  float: left
  font-size: 2em
  line-height: 40px
  padding-right: 10px

.footer
  margin-top: 48px
  padding-top: 20px
  color: #777
  border-top: 1px solid #e5e5e5

.container-narrow > hr
  margin: 30px 0

.jumbotron
  text-align: center

@media screen and (min-width: 768px)
  .header
    margin-bottom: 30px
    padding-bottom: 24px
    h3
      float: left
    ul
      float: right
  .container
    max-width: 730px

form label, form button
  display: block

form .text-btn
  padding-left: 5px

.selectize-input
  border-radius: 0

.selectize-input.focus
  outline: thin dotted #333
  outline: 5px auto -webkit-focus-ring-color
  box-shadow: none

.price_in_secondary_currency
  color: #7f7f7f

.jumbotron
  .price_in_secondary_currency
    display: block
    font-size: .9em

#frequency_legend
  position: absolute
  right: 0

.chart
  height: 525px

.chart_label
  font-size: 11px
  text-align: center
  padding: 4px
  color: white

.delete_category
  @include not_link(#333)
